@page "/history"
@using ClientApp.Dto
@using ClientApp.Services
@inject OrderState OrderState

<h3>📝 Orden Finalizada</h3>

@if (OrderState.SelectedProducts.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}
else
{
    <p>No hay órdenes recientes.</p>
}