@page "/"

<PageTitle>Inicio</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-3">👋 Bienvenido</h1>
    <p class="lead mt-4">Esta es una aplicación donde se utilizan microservicios + Blazor.</p>

    <hr class="my-4" />

    <p>Selecciona una opción del menú para comenzar:</p>

    <a href="/products" class="btn btn-primary btn-lg me-2">Ver Productos</a>
    
</div>